{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Payments</title>
    <link rel="stylesheet" href="{% static 'css/payment_form.css' %}">
</head>
<body>
<div class="row">
    <div class="col-75">
        <div class="container">
            <img src="https://images.pexels.com/photos/6347730/pexels-photo-6347730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                 height="400px"
                 alt=""/>
        </div>
    </div>

    <div class="col-25">
    </div>
</div>
</body>
</html>